@charset "UTF-8";
/*#C7FFED (claro); #D8FFDB (clarinho); #008F8C (verde); #015958 (escuro); #023535 (bem escuro)*/
:root {
    --claro: #C7FFED;
    --clarinho: #D8FFDB;
    --verde: #008F8C;
    --escuro: #015958;
    --bemescuro: #023535
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    width: 97vw;
}

header {
    width: 97vw;
    background-color: var(--claro);
    border-radius:  0px 0px 10px 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    padding: 10px;
    text-align: left;
    color: var(--bemescuro);
}

span#burger {
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--claro);
    color: var(--bemescuro);
    display: inline-block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

span#burger:hover {
    background-color: var(--verde);
    color: var(--claro);
}

menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid var(--verde);
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a#home {
    border-radius: 10px 10px 0px 0px;
}

menu > ul > li > a#contateme {
    border-radius: 0px 0px 10px 10px;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--clarinho);
    color: var(--bemescuro);
    font-weight: bold;
    border-top: 2px solid var(--verde);
    
    width: 90px;
    margin: 0 auto;
}

menu > ul > li > a:hover {
    color: var(--clarinho);
    background-color: var(--verde);
    transition-duration: 0.5s;
}

main {
    width: auto;
    background-color: white;
    margin: auto;
}

section.sessao {
    min-height: 95vw;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

section.sessao > h1 {
    margin: 10px;
    padding: 10px;
}

section.sessao > p {
    padding: 10px;
    width: 80vw;
    margin: 0px auto;
}

div.sessao {
    height: 50vw;
    width: 80vw;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}

section#apresentacao {
    background-color: var(--verde);
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}

div#apresentacao {
    background-color: var(--clarinho);
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

section#oqe {
    color: var(--bemescuro);
}

div#oqe {
    background-color: var(--bemescuro);
    border-radius: 50% 40% 50% 40% /80% 20% 80% 20%;
}

section#sobre {
    background-color: var(--bemescuro);
    color: white;
}

div#sobre {
    background-color: var(--claro);
    border-radius: 10% 90% 10% 90% / 50% 50% 50% 50%;
}

section#servicos {
    color: var(--bemescuro);
}

div#servicos {
    background-color: var(--verde);
    border-radius: 25% 75% 75% 25% / 35% 65% 65% 35%;
}

section#avaliacoes {
    background-color: var(--claro);
    color: var(--bemescuro);
}

section#orcamento {
    color: var(--bemescuro);
}

div#orcamento {
    background-color: var(--bemescuro);
    border-radius: 32% 68% 32% 68% / 43% 57% 57% 43%;
}

aside#aparte {
    background-color: var(--claro);
    background-image: linear-gradient(var(--claro), var(--verde));
    width: 90vw;
    margin: 1.5vw;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    padding: 10px;
}

section#exemplos {
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

section#exemplos > p {
    background-color: var(--bemescuro);
    color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.493);
    border-radius: 5px;
}

section#faca > h4 {
    padding: 10px;
    color: var(--bemescuro);
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.61);
}

section#faca > p{
    padding: 10px;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.61);
    text-align: start;
}

input#dias, input#visitas, input#pets {
    width: 80px;
    height: 20px;
    padding: 5px;
    background-color: var(--claro);
    border-radius: 5px;
    border-color: var(--bemescuro);
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.493);
    color: var(--bemescuro);
}

input#botao {
    width: 80px;
    height: 35px;
    padding: 5px;
    background-color: var(--claro);
    border-radius: 5px;
    border-color: var(--bemescuro);
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.493);
    color: var(--bemescuro);
}

section#faca > p#resultado {
    text-align: center;
    width: 60vw;
    margin: auto;
    padding: 10px;
    background-color: var(--claro);
    border-radius: 5px;
    border-color: var(--bemescuro);
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.493);
    color: var(--bemescuro);
}

footer {
    background-color: var(--bemescuro);
    color: white;
}

footer > p {
    padding: 5px;
    text-align: center;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--claro);
}

@media screen and (min-width: 768px) {
    header {
        display: inline-block;
        width: 98.4vw;
    }
    
    span#burger {
        display: none;
    }

    nav {
        background-color: var(--claro);
    }

    menu {
        display: block;
        position: relative;
        margin: 0px;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        font-weight: bold;
        color: var(--verde);
        background-color: var(--claro);
        border-radius: 0px;
        border-top: 0px;
        box-shadow: 0px 1px 0.5px var(--verde);
        width: auto;
        margin-left: 10px;
        margin-bottom: 2px;
    }

    menu > ul > li > a:hover {
        color: var(--claro);
    }

    section {
        height: 30vw;

    }
}